extends layout

block content
  .request-details
    h1 Service Request Details
    .details
      p Type: #{serviceRequest.Request_Type}
      p Date: #{serviceRequest.Request_Date}
      p Location: #{serviceRequest.Request_Location}
      p Pet: #{serviceRequest.Pet_Name}
      p Status: #{serviceRequest.Status}
    
    .actions
      if user.User_ID === serviceRequest.User_ID
        a.button(href=`/service-requests/${serviceRequest.Request_ID}/edit`) Edit
      a.button(href="/service-requests") Back to List